<article class="message message--{{ sender }}">
    <time class="message__time message__time--{{ sender }}">{{ time }}</time>
    <p class="message__text message__text--{{ sender }}">{{ text }}</p>
</article>