<header class="app-header">
    <nav class="app-header-navigation">
        <ul class="navigation-list">
            <li class="navigation-list-item">
                <a class="back-button back-button--{{theme}}" href="{{backUrl}}">
                    <i class="icon-close"></i>
                </a>
            </li>
            <li class="navigation-list-item">
                <h1 class="app-header-title app-header-title--{{theme}}">{{title}}</h1>
            </li>
            <li class="navigation-list-item">
                <img class="avatar avatar--small" src="{{avatarUrl}}" alt="Avatar">
            </li>
        </ul>
    </nav>
</header>