<form action="/profile" method="POST" class="auth-form">
    <fieldset class="auth-form__fieldset form-fieldset">
        <legend class="auth-form__legend form-legend">{{title}}</legend>
        <div class="auth-form__item">
            {{{ first_name }}}
        </div>
        <div class="auth-form__item">
            {{{ second_name }}}
        </div>
        <div class="auth-form__item">
            {{{ phone }}}
        </div>
        <div class="auth-form__item">
            {{{ email }}}
        </div>
        <div class="auth-form__item">
            {{{ password }}}
        </div>
        <button type="submit" class="auth-form__submit-button submit-button">
            <i class="icon-arrow-right"></i>
        </button>
    </fieldset>
</form>